.related-wrap {
  display: flex;
  align-items: center;
  &__bullet {
    background-color: $sw-green;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    margin-right: 10px;
  }
  &__text{
    text-transform: uppercase;
    font-size: $fs-xss;
    font-weight: bold;
    color: $sw-green;
  }
}
.out-stock {
  color: red;
}
.product-item-name a{
  font-weight: 700 !important;
}
.price-box {
  margin: 10px 0 10px !important;
  color: gray;
}
.product-item-info {
  margin: 0 auto;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  max-width: 280px;
  width: 100%;
}
.product-item-details {
  padding: 0 20px;
}