.courier-wrap {
  padding-bottom: 20px;
  @include  tablet-size {
    padding-bottom: 50px;
  }
  &__title {
    color: black;
    font-size: $fs-l;
  }
  &-box {
    @include tablet-size {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    &__img {
      margin: 0 0 10px 0;
      height: 220px;
      width: 220px;
      @include tablet-size {
        margin: 0 0 0 40px;
      }
      & img {
        height: 220px;
        max-width: 220px;
      }
    }
    &__content {
      color: $sw-dark;
      font-size: $fs-sm;
      @include tablet-size {
        line-height: 30px;
      }
      & p {
        padding-bottom: 10px;
      }
    }
  }
}