.header-wrap {
  font-size: $fs-l;
  color: $sw-green;
  padding-bottom: 20px;
  @include tablet-size {
    font-size: $fs-ll;
    line-height: 35px;
    padding-bottom: 45px;
  }
  &-content {
    &::before {
      display: none;
      @include tablet-size {
        display: inline-block;
      }
      content: "";
      border-top: .3rem solid $sw-green;
      width: 55px;
      margin: 0 1rem;
      transform: translateY(-6px);
    }
  }

}