.icons-wrap {
  @include desktop-size {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-ver {
    &-block {
      display: flex;
      align-items: center;
      @include tablet-size {
        justify-content: center;
      }
      @include desktop-size {
        max-width: 330px;
      }
      &__icon {
        height: 45px;
        width: 45px;
        margin-right: 30px;
      }
      &-text {
        color: $sw-dark;
        &__title {
          font-size: $fs-l;
        }
        &__desc {
          font-size: $fs-s;
        }
      }
    }
  }
  &-hor {
    display: flex;
    text-align: center;
    justify-content: center;
    &-block {
      padding: 10px 5px 5px 5px;
      @include desktop-size {
        max-width: 165px;
      }
      @include desktop-size {
        padding: 10px 40px 5px 5px;
      }
      &__icon {
        height: 45px;
        width: 45px;
        margin: 0 auto;
        padding: 10px 0 5px 0;
      }
      &-text {
        color: $sw-dark;
        &__title {
          font-size: $fs-l;
        }
        &__desc {
          font-size: $fs-s;
        }
      }
    }
  }
}