.local-wrap {
  &__title {
    color: black;
    font-size: $fs-l;
  }
  &__content {
    color: $sw-dark;
    font-size: $fs-sm;
    padding-bottom: 20px;
  }
  & li {
    font-weight: 700;
    color: $sw-dark;
  }
  & ul {
    padding-inline-start: 20px;
    @include tablet-size {
      padding-inline-start: 40px;
    }
  }
}