.delivery-wrap {
  max-width: $bp-mobile;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  text-align: left;
  padding: 5px 0;
  @include tablet-size {
    max-width: $bp-mobile-big;
  }
  @include desktop-size {
    max-width: $bp-desktop;
  }
}
.half-wrap {
  @include tablet-size {
    display: flex;
    justify-content: space-between;
  }
  &-box {
    padding: 20px 0 20px 0;
    @include tablet-size {
      max-width: 300px;
    }
    @include desktop-size {
      max-width: 500px;
    }
    &__title {
      color: black;
      font-size: $fs-l;
    }
    &__content {
      color: $sw-dark;
      font-size: $fs-sm;
      padding-bottom: 20px;
    }
  }
}
