table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  @include mobile-size {
    border: 0;
    & thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    & td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      padding: 20px;
      &::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  & tr {
    border: 1px solid #ddd;
    padding: 15px;
    @include  mobile-size {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
  }
  & th, td {
    text-align: center;
  }
  th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #f8f8f8;
    font-weight: inherit;
  }
}