// Breakpoints
$bp-mobile-big: 640px;
$bp-tablet-big: 980px;
$bp-mobile: 540px;
$bp-desktop: 1040px;

// Colors
$sw-white: #ffffff;
$sw-light-blue: #cddaf0;
$sw-jysk-blue: #003187;
$sw-dark: #373b42;
$sw-copy: #46536c;
$sw-green: #85b73c;
$sw-orange: #f47b20;

// Fonts sizes - 1rem = 10px
$fs-h: 6rem;
$fs-xll: 4.8rem;
$fs-xxl: 4.1rem;
$fs-xlmm: 4rem;
$fs-xlm: 3.6rem;
$fs-xlms: 3.2rem;
$fs-xml: 3.1rem;
$fs-xls: 2.8rem;
$fs-xlss: 2.5rem;
$fs-xl: 2.4rem;
$fs-ll: 2.2rem;
$fs-lm: 2rem;
$fs-l: 1.8rem;
$fs-base: 1.6rem;
$fs-sl: 1.5rem;
$fs-sm: 1.4rem;
$fs-s: 1.3rem;
$fs-xs: 1.2rem;
$fs-xss: 1.1rem;